<!DOCTYPE html>

<html xmlns:th="http://www.thymeleaf.org">

<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
    <title>Spring MVC GeekApp</title>
</head>

<body>
    <h1>Список продуктов:</h1>
    <table>
        <thead>
        <tr>
            <td>ID</td>
            <td>Title</td>
            <td>Price</td>
        </tr>
        </thead>
        <tbody>
        <!--/*@thymesVar id="products" type="com.geekbrains.entities.Product"*/-->
        <tr th:each="s : ${products}">
                <td th:text="${s.id}"></td>
                <td th:text="${s.title}"></td>
                <td th:text="${s.price}"></td>
        </tr>
        </tbody>
    </table>
    <a th:href="@{/}">на Главную страницу</a>
</body>
</html>