<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="utf-8"/>
    <title>Заготовка магазина</title>
    <link rel="stylesheet" th:href="@{css/stylesheet.css}">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js"></script>
</head>

<body>

<div class="container">
<h1>Корзина</h1>


    <table class="table table-hover">
        <thead class="thead-dark">
        <tr>

            <th>Описание товара</th>
            <th>Цена</th>
            <th>Количество</th>
        </tr>
        </thead>
        <tbody>
        <!--/*@thymesVar id="page" type="org.springframework.data.domain.Page<com.geekbrains.controllers.Cart>"*/-->
        <!--/*@thymesVar id="item" type="com.geekbrains.entites.Item"*/-->
        <tr th:each="item : ${Items}">

            <td>
                <span style="font-weight: bold" th:text="${item.title}"/>
                <br>
                <span th:text="${item.description}"/>
            </td>
            <td th:text="${item.price}"/>
            <td th:text="${cart.get(item)}"/>
         


        </tr>
        </tbody>
    </table>
    <th>Общая стоимость</th>
    <span th:text="${cart.totalCost()}"/>
</div>

</body>
</html>